//
// Sprites
// --------------------------------------------------


// ICONS
// -----

.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20px;
  height: 20px;
  position:relative;
  margin: 0;
  background-image: url("img/no-repeat.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    background-image: url("img/no-repeat-2x.png");
    background-size: 200px 844px;
  }
}
.icon-large{
  @extend .icon;
  width: 80px;
  height: 80px;
}
.icon-huge {
  @extend .icon;
  width: 104px;
  height: 104px;

}

.icon-download {@extend .icon-large;background-position: -80px -20px;}
.icon-pie{@extend .icon-large;background-position: -80px -100px;}
.icon-clock{@extend .icon-large;background-position: -80px -180px;}
.icon-zoom{@extend .icon-large;background-position: -80px -260px;}
.icon-fullscreen{@extend .icon-large;background-position: -80px -340px;}
.icon-print{@extend .icon-large;background-position: -80px -420px;}


.icon-facebook{@extend .icon-huge;background-position: 0px -500px;}
.icon-twitter{@extend .icon-huge;background-position: 0px -620px;}
.icon-google{@extend .icon-huge;background-position: 0px -740px;}


