//
// Buttons
// --------------------------------------------------


.btn {
  position: relative;
  height: 48px;
  padding: 0px 24px;
  font-size: 26px;
  font-weight: bold;
  line-height: 48px;
  color: #ffffff;
  text-shadow: none;
  background-color: #4a87ec;
  background-image: none;
  border: none;
  border-radius: 6px;
  filter: none;
  box-shadow: none;
  &:before {
    border-radius: 6px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover {
    &:before {
      background: #fff;
      opacity: .1;
    }
  }
  &:active {
    box-shadow: inset 0 2px 0 rgba(0,0,0,.1);
    &:before {
      background: #000;
      opacity: .1;
    }
  }
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #4a87ec;
  color: #ffffff;
}
.btn-huge {
  height: 102px;
  padding: 0px 48px;
  font-size: 42px;
  font-weight: bold;
  line-height: 102px;

}
.btn-huge-alt {
  @extend .btn-huge;
  background-color: #35c877;
  &:hover {
    background-color: #35c877;
  }
}
