//
// Forms
// --------------------------------------------------


label,
input,
button,
select,
textarea {
  // font-size: 14px;
  // font-weight: normal;
  // line-height: 20px;
}

input,
button,
select,
textarea {
  @include fontstack();
}

.input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 48px;
  padding: 4px 15px;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 300;
  line-height: 48px;
  color: #3e4042;
  vertical-align: middle;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: $grayLighter;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b2b7bb;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b2b7bb;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b2b7bb;
}
.input-white {
  background-color:$white !important; // bootstrap is too specific, attribute selectors beats a simple class
}

.input-append{
  display: block;
  margin-bottom: 0;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  .btn {
    position: absolute;
    right: 16px;
    top: 0;
    border-radius: 6px !important;
  }
  input{
    display: block;
  }
  input:focus{
    z-index: 0;
  }
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 0;
}

.input-stack{
  input{
    margin-bottom: 2px;
    border-radius: 0;
  }
  input:first-child{
    border-radius: 6px 6px 0 0;
  }
  input:last-child{
    border-radius: 0 0 6px 6px;
  }
}