//
// Hero unit
// --------------------------------------------------

.hero-unit{
  padding:72px 0;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 0;
  h1{
    margin:0;
    font-size: 68px;
    margin-bottom: 24px;
  }
}
.hero-heading{
  @include text-medium;
  color:$white;
  margin-bottom: 32px
}
.hero-text{
  color: $white;
  font-size: 16px;
  line-height: 24px;
}
