// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------


.media-body{
  color: #818792;
  font-weight: 300;
}
.media-heading{
  @extend .h5;
  line-height: 24px;
  margin: 0; 
  color: #2c3036;
}
.media > .pull-left {
  margin-right: 32px;
}

.media-centered{
  @extend .media;
  .media-body{
    color: #818792;
    font-weight: 300;
    text-align: center;
  }
  .media-heading{
    @extend .h5;
    line-height: 24px;
    margin: 0; 
    color: #2c3036;
  }
  .media-block {
    margin-right: 0;
    margin-bottom: 24px;
    float: none;
  }
}

.media-profile{
  @extend .media;
  background-color:#ffffff;
  border-radius: 6px;
  overflow: hidden;
  .media-image{
    width: 216px;
  }
  .media-body{
    padding: 28px 36px 0 0;
    height: 187px;
  }
  .media-text{
    font-size: 14px;
    line-height: 21px;
    color: #818792;
  }
}
