//
// Navs
// --------------------------------------------------


.nav-tabs{
  margin-bottom: 0;
  li {
    // height: 72px;
    // line-height: 72px;
    // background-color: #e7edf1;
    // color:#a2a7ab;
    // font-size: 26px;
    a{
      height: 72px;
      line-height: 72px;
      background-color: #e7edf1;
      color:#a2a7ab;
      font-size: 26px;
      border-radius: 0;
      border: none;
      padding:0 12px;
      margin-right: 12px;
      &:hover{
        background-color: #e7edf1;
      }
    }

  }
  .active {
    border: none;
  }
  .active a, .active a:hover {
    color: #44474c;
    border: none;
    background-color: #fff;
  }
}
.nav-tabs-signup {
  li {
    width: 50%;
    a{ 
      display: block;
      text-align: center;
      margin-right: 0;
    }
  }
  li:first-child a, li:first-child.active a {
    border-top-left-radius: 6px; 
  }
  li:last-child a, li:last-child.active a{
    border-top-right-radius: 6px; 
  }
}