//
// Scaffolding
// --------------------------------------------------

html {
  margin: 0;
  background-color: $htmlBackground;
}


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  position: relative;
}


// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: none;
}

