//
// Slider
// --------------------------------------------------


.slider {
  position: relative; /* required */
  z-index: 1;
  .slide-bg{
   top:0
  }
  .sequence-canvas { /* required */
    margin:0;
    height: 100%; 
    width: 100%;
  }
  .sequence-canvas li  {  /* required */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .slide-container{
    position: relative !important;
    max-width:972px;
    height: 100%;
    margin: 0 auto;    
  }
  .slide-container > * {  /* required */
    position: absolute;
  }
  .slider-pagination {
    position: absolute;
    bottom: 36px;
    z-index: 3;
    margin: 0;
    padding: 0;
    left:50%;
  }
  .slider-pagination-wrapper {
    left: -50%;
    position: relative;
  }
  .slider-pagination-page {
    text-indent: -99999em;
    float: left;
    margin: 6px;
    cursor: pointer;
    display: block;
    opacity: .5;
    transition: opacity .1s linear;
    @include transform(rotate(45deg));
  }
  .slider-pagination-page.current {
    opacity: 1;
    span {
      background: #fff;
    }
  }

  .slider-pagination-page:hover {
    opacity: 1;
  }
  .slider-pagination-page span {
    width: 8px;
    height: 8px;
    display: block;
    background: #000;
    background: rgba(0,0,0,.5);
    border: solid 2px #fff;
  }
}

.slider-hero {
  @extend .slider;
  overflow: hidden;
  height: 468px;
  background: #262626;
  .slide-bg {    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .slide-heading{
    color:#ffffff;
    @include text-large;
  }
  .slide-description{
    color:#ffffff;
    @include text-medium;
  }
}
#slide-1 {
  .slide-heading{
    top: 60px;
    @include text-xlarge;
  }
  .slide-description{
    @include text-medium;
    top: 246px; 
    width: 552px
  }
  .slide-actions {
    top: 246px;
    width: 372px;
    left: 588px;
  }
}
#slide-2 {
  .slide-heading {
    top: 130px;
    width: 100%;
    left: 0;
    @include text-large;
    text-align: center;
  }
  .slide-description {
    top: 262px;
    left: 50%;
    width: 552px;
    margin-left: -276px;
    text-align: center;
  }
}
#slide-3 {
  .slide-heading{
    top: 60px;
    @include text-xlarge;
  }
  .slide-description{
    @include text-medium;
    top: 246px; 
    width: 552px;
  }
  .slide-actions {
    top: 246px;
    width: 372px;
    left: 588px;
  }
}
#slide-4 {
  .slide-heading{
    top: 60px;
    left:420px;
    width: 554px;
    @include text-large;
  }
  .slide-description{
    @include text-medium;
    top: 246px; 
    left:420px;
    width: 552px
  }
  .slide-image {
    top: 72px;
    width: 384px;
    left: 0;
  }
}
#slide-5 {
  .slide-heading{
    top: 60px;
    left: 0;
    width: 554px;
    @include text-large;
  }
  .slide-description{
    @include text-medium;
    top: 246px; 
    left: 0;
    width: 552px
  }
  .slide-image {
    top: 72px;
    width: 384px;
    left:588px;
  }
}
#slide-6 {
  .slide-heading{
    top: 60px;
    @include text-large;
  }
  .slide-image-1 {
    top: 183px;
    width: 384px;
    left: 0;
    z-index:1;
  }
  .slide-image-2 {
    top: 158px;
    width: 468px;
    left: 252px;
    z-index:2;
    @include box-shadow(0 30px 50px rgba(0,0,0,.2));
  }
  .slide-image-3 {
    top: 183px;
    width: 384px;
    left: 588px;
    z-index:1;
  }
}




.slider-quote {
  @extend .slider;
  min-height: 200px;
  overflow: hidden;
  .slider-pagination {
    left: 0px;
    bottom: 42px;
  }
  .slider-pagination-wrapper{
    left: -30px;
  }
  .slider-pagination-page {
    span {
      border-color: #000;
      background: transparent;
      opacity: .3;
      &:hover {
        opacity: .5;
      }
    }
    &.current {
      span {
        opacity: .5;
        background: #000;
      }
    }
  }
  .slide {
    position: relative;
  }
} 
.quote{
  list-style: none;
  font-size: 26px;  
  line-height: 40px;
  font-weight: lighter;
}
.quote-body{
  position: relative;
  line-height: 40px;
  font-style: italic;
}
.quote-author{
  color: #8b94a0;
  text-align: right;
  position: relative;
  margin-top: 0;
  display: block;
}

.slider-portfolio{
  @extend .slider;  
  overflow: hidden;
  height: 636px;
  background: #262626;
  .slide-bg {    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .sequence-canvas{
    width: 75%;
    float: left;
  }
  .sequence-canvas{
    position: relative;
  }
  .slider-pagination-wrapper {
    left: auto;
    margin: 0;
    left: auto;
    position: relative;
  }
  .slider-pagination {
    width: 25%;
    position: relative;
    bottom: auto;
    z-index: 3;
    margin: 0;
    padding: 0;
    left:auto;
    float: left;
  }
  .slider-pagination-page{
    height: 159px;
    overflow: hidden;
    padding: 0;
    position: relative;
    float: none;
    img{
      display: block;
      height: 100%;
      width: auto;
      position: relative;
    }
  }
  .current:after{
    width:100%;
    height: 6px;
    background-color: #ffffff;
    content: '';
    display: block;
    bottom: 0;
    position: absolute;
    z-index: 3;
  }
}

.slider-rounded{
  @extend .slider;
  overflow: hidden;
  height: 468px;
  background: #262626;
  .slide-bg {    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 6px;
  }
  .slide{
    border-radius: 6px;
  }
}
